obj
bin
deploy
packages
*.csproj.user
*.csproj.*.user
*.suo
*.cache
*.nupkg
~$*
*~
*ReSharper*
*.swp
*.testsettings
*.dbmdl
*.pidb
*.docstates
*.dotCover
*_mm_cache.bin
test
test*ml
build
docs
*.ndproj
*.Tests.dll.xml
*.DotSettings
Gemfile.lock
results
nuget
packages/*
!packages/repositories.config
MachineLearningExperiments.sln.DotSettings.user